<p></p>
<form class="searchbar" action="/artists/results" method="get">
  <input class="searchbar"type="search" id = "searchbar"name="search" placeholder="Search Artists.." >
  <button type="submit"><i class="searchbutton" ></i></button>
</form>
