<form action="/genres" method="post">
  <label for="name">Name:</label>
  <input type="text" id="name"  name="name">

  <label for="type">Origin:</label>
  <input type="text" id="origin"  name="origin">

  <input type="submit" value="New Genre">
</form>
